<div ng-controller="dashboard as dashctrl">
	<div class='col-sm-4'>
		<div class='panel panel-info'>
			<a href='#viewmatches/season/2008' class='panel-body'>
				<h2>2008</h2>
				<h4>{{(dashctrl.matches | filter:{season:'2008'}).length}}</h4>
			</a>
		</div>
	</div>
	<div class='col-sm-4'>
		<div class='panel panel-info'>
			<a href='#viewmatches/season/2009' class='panel-body'>
				<h2>2009</h2>
				<h4>{{(dashctrl.matches | filter:{season:'2009'}).length}}</h4>
			</a>
		</div>
	</div>
	<div class='col-sm-4'>
		<div class='panel panel-info'>
			<a href='#viewmatches/season/2010' class='panel-body'>
				<h2>2010</h2>
				<h4>{{(dashctrl.matches | filter:{season:'2010'}).length}}</h4>
			</a>
		</div>
	</div>
	<div class='col-sm-4'>
		<div class='panel panel-info'>
			<a href='#viewmatches/season/2011' class='panel-body'>
				<h2>2011</h2>
				<h4>{{(dashctrl.matches | filter:{season:'2011'}).length}}</h4>
			</a>
		</div>
	</div>
	<div class='col-sm-4'>
		<div class='panel panel-info'>
			<a href='#viewmatches/season/2012' class='panel-body'>
				<h2>2012</h2>
				<h4>{{(dashctrl.matches | filter:{season:'2012'}).length}}</h4>
			</a>
		</div>
	</div>
	<div class='col-sm-4'>
		<div class='panel panel-info'>
			<a href='#viewmatches/season/20013' class='panel-body'>
				<h2>2013</h2>
				<h4>{{(dashctrl.matches | filter:{season:'2013'}).length}}</h4>
			</a>
		</div>
	</div>
	<div class='col-sm-4'>
		<div class='panel panel-info'>
			<a href='#viewmatches/season/2014' class='panel-body'>
				<h2>2014</h2>
				<h4>{{(dashctrl.matches | filter:{season:'2014'}).length}}</h4>
			</a>
		</div>
	</div>
	<div class='col-sm-4'>
		<div class='panel panel-info'>
			<a href='#viewmatches/season/2015' class='panel-body'>
				<h2>2015</h2>
				<h4>{{(dashctrl.matches | filter:{season:'2015'}).length}}</h4>
			</a>
		</div>
	</div>
	<div class='col-sm-4'>
		<div class='panel panel-info'>
			<a href='#viewmatches/season/2016' class='panel-body'>
				<h2>2016</h2>
				<h4>{{(dashctrl.matches | filter:{season:'2016'}).length}}</h4>
			</a>
		</div>
	</div>
</div>
