<div ng-controller="viewteams as TeamsCtrl">
    <div class='col-sm-12'>
        <div class='col-sm-6'><h2>View Teams</h2></div>
        <div class="col-sm-6">
            <form>
               
            </form>
        </div>
    </div>
    <hr class='col-sm-12'>
    <div class='col-sm-12'>
        <table class='table'>
            <thead>
                <tr><th>Team</th><th>Total matches</th><th>Wins</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="team in TeamsCtrl.matches | unique:'team1'">
                <td>{{ team.team1 }}</td><td>{{((TeamsCtrl.matches | filter:{team1:team.team1}).length)+((TeamsCtrl.matches | filter:{team2:team.team1}).length)}}</td><td>{{(TeamsCtrl.matches | filter:{winner:team.team1}).length}}</td> 
            </tr>
            <tbody>
        </table>
    </div>
</div>